<form method="post" action="{{ path('app_autobus_delete', {'id': autobu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ autobu.id) }}">
    <button class="btn">Delete</button>
</form>
