{% extends 'base.html.twig' %}

{% block title %}Viaje{% endblock %}

{% block body %}



{% set currentFila = 0 %}
{% set idAsiento = 0 %}

<form method="post" action="/viaje/check/{{viaje.id}}">
    {% for fila in asientos %}
        {% set currentColumna = 0 %}
        
        {% for columna in fila %}
            {% set currentColumna = currentColumna + 1 %}
            {% set idAsiento = idAsiento + 1 %}
            {% if columna == 1 %}
                <p>Fila:{{currentFila}}-Columna:{{ currentColumna }}</p>
                    <label for="checkbox">Seleccionar</label>
                    <input type="checkbox" id="checkbox" name="asientos[]" value={{idAsiento}}>
            {% endif %}
        {% endfor %}
        {% set currentFila = currentFila + 1 %}
    {% endfor %}
    <br>
    <input type="submit" value="Comprar billetes seleccionados">
</form>

{% endblock %}