{% extends 'base.html.twig' %}

{% block title %}Viaje{% endblock %}

{% block body %}
   {% for viaje in viajes %}
        <p>Llegada: {{ viaje.horario.llegada | date('d/m/Y H:i:s')}}</p>
        <p>Salida: {{ viaje.horario.salida | date('d/m/Y H:i:s')}}</p>

   {% endfor %}
{% endblock %}
