{% extends 'base.html.twig' %}

{% block title %}Viaje{% endblock %}

{% block body %}
   {% for viaje in viajes %}
       


   <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ viaje.id }}</td>
            </tr>
            <tr>
                <th>Llegada</th>
                <td>{{ viaje.horario.llegada | date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>Salida</th>
                <td>{{ viaje.horario.salida | date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>Asientos Libres</th>
                <td>{{ viaje.AsientosTotales }}</td>
            </tr>
        </tbody>
    </table>


   {% endfor %}
{% endblock %}
