{% extends 'base.html.twig' %}

{% block title %}Itinerario index{% endblock %}

{% block body %}
    <h1>Itinerarios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Origen</th>
                <th>Destino</th>
            </tr>
        </thead>
        <tbody>
        {% for itinerario in itinerarios %}
            <tr>
                <td>{{ itinerario.origen }}</td>
                <td>{{ itinerario.destino }}</td>
                <td><a href="/viaje/billetes/{{ itinerario.id }}">Ver billetes</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
